<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

{% if message %}
Add tag: {{message[1]}} to this user? <a href="/crosstag/v2.0/link_user_to_last_tag/{{message[0]}}">YES</a>
{% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}

{% if data %}
<h1>Edit user</h1>
<form action="" method="post" name="new_user" class="form-horizontal" role="form">
    {{form.hidden_tag()}}
        <p>* Required Fields</p>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Firstname*</label>
                <div class="col-sm-10">
                    {{form.firstname(size=80, value=data.firstname)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Lastname*</label>
                <div class="col-sm-10">
                    {{form.lastname(size=80, value=data.lastname)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">E-mail*</label>
                <div class="col-sm-10">
                    {{form.email(size=80, value=data.email)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    {{form.phone(size=80, value=data.phone)}}
                </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Address*</label>
                <div class="col-sm-10">
                    {{form.address(size=80, value=data.address)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Address 2</label>
                <div class="col-sm-10">
                    {{form.address2(size=80, value=data.address2)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">City*</label>
                <div class="col-sm-10">
                    {{form.city(size=80, value=data.city)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Zip code</label>
                <div class="col-sm-10">
                    {{form.zip_code(size=80, value=data.zip_code)}}
                </div>
        </div>
        <div class="radio">
          {{form.gender(size=80, value=data.gender)}}
        </div>
         <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Tag</label>
                <div class="col-sm-10">
                    {{form.tag_id(size=80, value=data.tag_id)}}
                </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Expiry date</label>
                <div class="col-sm-10">
                    {% if data.expiry_date == "" or data.expiry_date == "None" %}
                    {{form.expiry_date(size=80, value="")}}
                    {% else %}
                    {{form.expiry_date(size=80, value=data.expiry_date)}}
                    {% endif %}

                </div>
        </div>

        <label for="inputEmail3" class="col-sm-2 control-label">Membership Status*</label>
        <br>
        <br>
          <div class="radio">
          {{form.status(size=80, value=data.gender)}}
        </div>
<br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Save user" class="btn btn-primary">
        </div>
    </div>
</form>
    <br>
    <form action="/crosstag/v1.0/link_user_to_last_tag/{{data.id}}" method="post" name="Link tag">
        <span><input type="submit" class="btn btn-default" value="Link user to last system tagevent"></span>
    </form>
<br><br>
<form action="/crosstag/v1.0/remove_user/{{data.id}}" method="post" name="remove_user"
      onsubmit="return confirm('Are you sure you want to remove this user from the database?')">
<p><input type="submit" class="btn btn-danger" value="Delete user from database"></p>
</form>

{% else %}
<h1>Edit user</h1>
It looks like you haven't supplied a user id. How can you edit a user without supplying an ID? Maybe try to search for one?
{% endif %}
{% endblock %}