<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<div class="row" style="width: 75%;">
    <h1>Fortnox Information</h1>
    <h3>Edit settings</h3>

   <div class="col-md-10 form-content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert">{{ message }} </div>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}


        {% if form.errors %}
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">{{ error }} </div>
                </div>
            {% endfor %}
        {% endfor %}
        {% endif %}
    </div>

    <div class="col-md-12">
        <p>Fortnox information can't be updated right now. Will be implemented in the next release.</p>
        <p>You can still use Fortnox, but it's a Test account.</p>
    </div>

    <form action="" method="post" name="fortnox_information" class="form-horizontal" role="form">
    {{form.hidden_tag()}}

        <div class="form-group col-md-8">
            <label for="inputEmail3">Client Secret</label>
            {{form.client_secret(size=80, value='', class="form-control", placeholder="Client secret")}}
        </div>

        <div class="form-group col-md-8">
            <label for="inputEmail3">Access Id</label>
            {{form.access_id(size=80, value='', class="form-control", placeholder="Access id")}}
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail3">Password needed for confirmation</label>
            {{form.password(size=80, value='', class="form-control", type="password", placeholder="Password for confirmation")}}
            <input type="submit" value="Save Settings" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}
