<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h2>Latecomers</h2>

{% if hits %}
	<table class="table table-hover">
	<tbody>
		<thead>
			<tr>
				<th>Name</th><th>E-mail</th> <th>Phone</th> <th>Address</th> <th>Last tag-day</th>
			</tr>
		</thead>
				{% for hit in hits %}
				<tr>
					<td>{{hit.firstname}} {{hit.lastname}}</td> <td>{{hit.email}}</td> <td>{{hit.phone}}</td> <td>{{hit.address}}</td> <td>{{ hit.last_tag_timestamp }}</td> <td><a href='/user_page/{{hit.id}}'>Info</a> </td>
				</tr>
				{% endfor %}
	</tbody>
	</table>
{% endif %}






{% endblock %}