<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

{% if message %}
Add tag: {{message[1]}} to this user? <a href="/crosstag/v2.0/link_user_to_last_tag/{{message[0]}}">YES</a>
{% endif %}

<h1>{{title}}</h1>
{% if hits %}
	<table class="table table-hover">
	<tbody>
		<thead>
			<tr>
				<th>Name</th>
                <th>timestamp</th>
                <th>tag_id</th>
                <th></th>
			</tr>
		</thead>
				{% for hit in hits %}
				<tr>
                    <td>{{hit['firstname']}} {{ hit['lastname'] }}</td>
                    <td>{{hit['timestamp']}}</td>
                    <td>{{hit['tag_id']}}</td>
                    <td> {% if hit['uid'] != None %}<a href='/user_page/{{ hit['uid'] }}'>Info</a> {% endif %}</td>
				</tr>
				{% endfor %}
	</tbody>
	</table>
{% endif %}
{% endblock %}
