<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/favicon.ico">

    {% if title %}
    <title>{{title}} - Crosstag</title>
    {% else %}
    <title>Crosstag</title>
    {% endif %}
    {% block scripts %}{% endblock%}

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap.css" rel="stylesheet">
    <link href="../../static/jumbotron-narrow.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="../../static/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>


  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header col-md-8">
                    <h1>Crosstag <small>Create new account</small></h1>
                </div>
                <div class="col-md-1" style="margin-top: 70px;">
                    <a href="/" class="btn btn-default">Back</a>
                </div>
            </div>
            <div class="col-md-10 form-content">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="col-md-12">
                            <div class="alert alert-warning" role="alert">{{ message }} </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}

                {% if form.errors %}
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">{{ error }} </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% endif %}
            </div>
            <form action="" method="post" name="register" class="form-horizontal" role="form">
                {{form.hidden_tag()}}
                <div class="form-group col-md-6" style="margin-right: 25px;">
                    <label for="inputEmail3">Username</label>
                    {{form.username(size=80, placeholder='Username', class="form-control", type="text")}}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail3">Email</label>
                    {{form.email(size=80, placeholder='Email', class="form-control", type="email")}}
                </div>
                <div class="form-group col-md-6" style="margin-right: 25px;">
                    <label for="inputEmail3">Password</label>
                    {{form.password(size=80, placeholder='Pasword', id='password', class="form-control", type="password")}}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail3">Repeat Password</label>
                    {{form.repeat_password(size=80, placeholder='Repeat Pasword', id='password', class="form-control", type="password")}}
                </div>
                <div class="form-group col-md-6" style="margin-right: 25px;">
                    <label for="inputEmail3">Phonenumber</label>
                    {{form.phone(size=80, placeholder='Phonenumber', class="form-control", type="text")}}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail3" >Do you have Fortnox?</label>
                    {{form.active_fortnox(class="checkbox-inline", style="list-style-type: none;")}}
                </div>
                <div class="form-group col-md-6" style="margin-right: 25px;">
                    <label for="inputEmail3">Gym Name</label>
                    {{form.gym_name(size=80, placeholder='Gym name', class="form-control", type="text")}}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail3">Street Name</label>
                    {{form.address(size=80, placeholder='Street name', class="form-control", type="text")}}
                </div>
                <div class="form-group col-md-6" style="margin-right: 25px;">
                    <label for="inputEmail3">Zip Code</label>
                    {{form.zip_code(size=80, placeholder='Zip Code', class="form-control", type="text")}}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail3">City</label>
                    {{form.city(size=80, placeholder='City', class="form-control", type="text")}}
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                      <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block">
                    </div>
                </div>
            </form>
        </div>

      <footer class="footer">
        <p>&copy; Crosstag 2013-2016</p>
      </footer>

    </div> <!-- /container -->
    <script src="../../static/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>