<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<div class="row" style="width: 75%;">
    <h1>Account settings</h1>
    <h3>Edit Settings</h3>

   <div class="col-md-10 form-content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert">{{ message }} </div>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}


        {% if form.errors %}
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">{{ error }} </div>
                </div>
            {% endfor %}
        {% endfor %}
        {% endif %}
    </div>

    <form action="" method="post" name="settings" class="form-horizontal" role="form">
    {{form.hidden_tag()}}

        <div class="form-group col-md-8">
            <label for="inputEmail3">New Password</label>
            {{form.new_password(size=80, value='', class="form-control", type="password", placeholder="New password")}}
        </div>
        <div class="form-group col-md-8">
            <label for="inputEmail3">Repeat New Password</label>
            {{form.repeat_new_password(size=80, value='', class="form-control", type="password", placeholder="Repeat new password")}}
        </div>
        <div class="col-md-6">
            <label for="inputEmail3">Do you have Fortnox?</label>
            {{form.active_fortnox(size=80, value=data.active_fortnox, style="list-style-type: none;")}}
        </div>
        <div class="form-group col-md-8">
            <label for="inputEmail3">Image URL</label>
            {{form.image(size=80, value=data.image, class="form-control")}}
        </div>

        <div class="form-group col-md-8">
            <label for="inputEmail3">Background Color</label>
            {{form.background_color(size=80, value=data.background_color, class="form-control")}}
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail3">Password*</label>
            {{form.password(size=80, value='', class="form-control", placeholder="Confirm changes with existing password")}}
            <input type="submit" value="Save Settings" class="btn btn-primary" style="margin-top: 5px;">
        </div>
    </form>
</div>
{% endblock %}
