{% extends "base.html" %}

{% block content %}

<h2>{{data.firstname}} {{data.lastname}}<span style="margin-left: 2%;" class="btn btn-info btn-xs"><a href='/edit_user/{{data.id}}'>Edit user</a></span></h2>

    <p>E-mail : {{ data.email }}</p>
    <p>Phone : {{ data.phone }}</p>
    <p>Address : {{ data.address }}</p>
    {% if data.address2 %}
    <p>Address 2 : {{ data.address2 }}</p>
    {% endif %}
    <p>City : {{ data.city }}</p>
    <p>Zip Code : {{ data.zip_code }}</p>
    <p>Gender : {{ data.gender }}</p>
    <p>Social Security : {{ data.ssn }}</p>
    <p>Expiry date : {{ data.expiry_date }}</p>

    Membership Status :
    {% if data.status == "Active" or data.status == "Special" %}
    <span style="color:green">{{data.status}}</span>
    {% elif data.status == "Frozen" %}
    <span style="color:blue">{{data.status}}</span>
    {% elif data.status == "Free" %}
    <span style="color:darkgoldenrod">{{data.status}}</span>
    {% else %}
    <span style="color:red">{{data.status}}</span>
    {% endif %}


{% endblock %}